<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>COD CURRENCY</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body>
<div class="container margin-footer" >

    <div th:insert="~{includes/menu :: heder}"></div>
    <div th:insert="~{includes/menu :: menu}"></div>


    <div class="container col-xs-7 col-md-offset-2" style="margin-top: 50px; margin-bottom: 100px">
        <div>
            <form th:action="@{/code_param/add}" method="post" th:object="${codeParamDto}">
                <table class="table table-bordered">
                    <input type="number" th:field="*{id}" style="display: none">
                    <tr>
                        <td>
                            <p>Nazwa</p>
                            <input class="form-control" type="text" th:field="*{webName}" placeholder="Nazwa parametru" >
                        </td>
                        <td>
                            <p>Parametr</p>
                            <input class="form-control" type="text" th:field="*{parameters}" placeholder="parametr/y">
                        </td>
                        <td>
                            <p>Opis</p>
                            <textarea class="form-control" th:field="*{description}"></textarea>
                        </td>
                    </tr>
                </table>
                <p class=""><input class="btn btn-primary pull-right pull-center"  type="submit" th:value="${button}"></p>
                <br><br>
            </form>
        </div>

        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Parametry</th>
                <th>Opis</th>
                <th>Edytuj</th>
            </tr>
            <block th:each="cod : ${codeParam}">
                <tr>
                    <td th:text="${cod.id}"></td>
                    <td th:text="${cod.webName}"></td>
                    <td th:text="${cod.parameters}"></td>
                    <td th:text="${cod.description}"</td>
                    <td style="text-align: center">
                        <a th:href="@{'/code_param/edit/' + ${cod.id}}" >
                            <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <br>
                            <span>Edytuj</span>
                        </a>
                    </td>
                </tr>
            </block>
        </table>

        <div th:if="${goldList} != null"  style="margin-bottom: 100px">
            <table class="table table-bordered">
                <tr>
                    <th>Lp</th>
                    <th>Data</th>
                    <th>zł/gram</th>
                    <th>zł/uncje</th>
                    <th>Zmiana</th>
                </tr>
                <tr th:each="gold, i : ${goldList}">
                    <td th:text="${i.count}"></td>
                    <td th:text="${gold.getDataRate()}"></td>
                    <td th:text="${#numbers.formatDecimal(gold.getPriceForGram(),1,2)} + 'zł'"></td>
                    <td th:text="${#numbers.formatDecimal(gold.getPriceForOunce(),1,4)} + 'zł'"></td>
                    <td th:if="${gold.getChange() > 0 }" th:text="${#numbers.formatDecimal(gold.getChange(),1,4)} + '%'" style="text-align: right; color: green"></td>
                    <td th:if="${gold.getChange() < 0 }" th:text="${#numbers.formatDecimal(gold.getChange(),1,4)} + '%'" style="text-align: right; color: red"></td>
                </tr>
            </table>
<!--            <span th:text="'Data - ' + ${gold.getDataRate()}"></span><br>-->
<!--            <span th:text="'Cena za gram - ' + ${#numbers.formatDecimal(gold.getPriceForGram(),1,2)} + 'zł'"></span><br>-->
<!--            <span th:text="'Cena za uncje - ' + ${#numbers.formatDecimal(gold.getPriceForOunce(),1,2)} + 'zł'"></span>-->

            <!--        <td th:text="${#numbers.formatDecimal(note.priceBuy,1,2)} + 'zł'"></td>-->

        </div>
    </div>



</div>
<div th:insert="~{includes/menu :: footer}"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>