<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monety</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body>
<div class="container margin-footer">

    <div th:insert="~{includes/menu :: heder}"></div>
    <div th:insert="~{includes/menu :: menu}"></div>

    <div>
        <form  th:action="@{/addNewCoin}" method="post" th:object="${coinDto}">
            <table class="table table-bordered">
                <input type="number" th:name="currencyId" th:value="${currencyId}" style="display: none">
                <input type="number" th:field="*{id}" style="display: none">
                <tr>
                    <!--                        <td style="width: 30% ">Data zakupu banknotu</td>-->
                    <td>
                        <span>Data zakupu monety</span><br>
                        <input class="form-control" type="text" th:field="*{dateBuyNote}" placeholder="yyyy-mm-dd">
                        <span th:text="${data_erorr}" style="color: red"></span>
                    </td>
                    <!--                         <td>Gdzie banknot został kupiony</td>-->
                    <td>
                        <span>Miejsce zakupu</span><br>
                        <input class="form-control" type="text" th:field="*{bought}" placeholder="Miejsce zakupu monety">
                    </td>
                </tr>
                <tr>
                    <!--                        <td>Nominał</td>-->
                    <td>
                        <span>Nominał</span>
                        <input class="form-control" type="text" th:field="*{denomination}" placeholder="Nominał monety">
                    </td>
                    <!--                        <td>Nazwa</td>-->
                    <td>
                        <span>Nazwa</span>
                        <input class="form-control" type="text" th:field="*{nameCurrency}" placeholder="Nazwa">
                    </td>
                    <!--                        <td>Seria</td>-->
                    <td>
                        <span>Seria</span>
                        <input class="form-control" type="text" th:field="*{series}" placeholder="Seria">
                    </td>
                    <!--                        <td>Data druku</td>-->
                    <td>
                        <span>Data druku</span>
                        <input class="form-control" type="text" th:field="*{coinDate}" placeholder="Data bićia monety">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Średnica monety</span>
                        <input class="form-control" type="text" th:field="*{diameter}" pattern="[0-9]{1,4}|[0-9]{1,4}[\.]?[0-9]{1,2}" placeholder="Średnica">
                    </td>
                    <td>
                        <span>Grubość monety</span>
                        <input class="form-control" type="text" th:field="*{thickness}" pattern="[0-9]{1,4}|[0-9]{1,4}[\.]?[0-9]{1,2}" placeholder="Grubość">
                    </td>
                    <td>
                        <span>Stan monety</span>
                        <input class="form-control" type="text" th:field="*{quality}" placeholder="Stan monety">
                    </td>
                    <td>
                        <span>Sygnatura</span>
                        <input class="form-control" type="number" th:field="*{signatureCode}" placeholder="sygnatura">
                        <a>Legenda</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Cena zakupu</span>
                        <input class="form-control" type="text" th:field="*{priceBuy}" pattern="[0-9]{1,4}|[0-9]{1,4}[\.]?[0-9]{1,2}" placeholder="Cena zakupu">
                    </td>

                    <!--                        <td>Cena sprzedaży</td>-->
                    <td>
                        <span>Cena Sprzedaży</span>
                        <input class="form-control" type="text" th:field="*{priceSell}" pattern="[0-9]{1,4}|[0-9]{1,4}[\.]?[0-9]{1,2}" placeholder="Cena sprzedaży">
                    </td>
                    <td>
                        <span>Ilość sztuk</span>
                        <input class="form-control" type="number" th:field="*{quantity}" placeholder="Ilość sztuk">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Status</span><br>
                        <select  th:field="*{status}">
                            <block th:each = "stat : ${status}">
                                <option th:value="${stat.name}" th:text="${stat.name}"></option>
                            </block>
                        </select>
                    </td>
                    <!--                        <td><input class="form-control" type="text" th:field="*{status}" placeholder="K/S"></td>-->
                    <!--                        <td>W sprzedaży</td>-->
                    <td>
                        <span>W sprzedaży</span><br>
                        <select  th:field="*{statusSell}">
                            <block th:each = "statSell : ${statusSell}">
                                <option th:value="${statSell.name}" th:text="${statSell.name}"></option>
                            </block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Skład monety</span>
                        <textarea class="form-control" th:field="*{composition}"></textarea>
                    </td>
                    <td>
                        <span>Opis</span>
                        <textarea class="form-control" th:field="*{description}" placeholder="Opis"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Typ obrazka</td>
                    <!--                        <td><input class="form-control" type="text" th:field="*{imgType}" placeholder="skan/foto/www/LOC"></td>-->
                    <td>
                        <select  th:field="*{imgType}">
                            <block th:each = "img : ${imgType}">
                                <option th:value="${img.namePl}" th:text="${img.namePl}"></option>
                            </block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <!--                        <td>Avers</td>-->
                    <td colspan="4" class="last">
                        <span>Avers</span>
                        <input class="form-control" type="text" th:field="*{aversPath}" placeholder="avers banknotu">
                    </td>
                </tr>
                <tr>
                    <!--                        <td>Revers</td>-->
                    <td colspan="4" class="last">
                        <span>Revers</span>
                        <input class="form-control" type="text" th:field="*{reversePath}" placeholder="revers banknotu">
                    </td>
                </tr>
            </table>
            <input class="btn btn-primary" type="submit" th:value="${button}">
        </form>
    </div>
</div>

<div th:insert="~{includes/menu :: footer}"></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>