<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Państwa</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>
<body>
<div class="container-fluid">
    <div class="container">
        <div th:insert="~{includes/menu :: heder}"></div>
        <div th:insert="~{includes/menu :: menu}"></div>
        <h2>Dodaj państwo</h2>

    <div class="container" th:if="${countryExist} == true" style="text-align: center">
        <h2 class="bg-danger" th:text="${countryInfo}"></h2>
    </div>
    </div>
    <div class="container-fluid">
        <div class="container col-md-6 col-md-offset-3">
            <form th:action="@{/country}" method="post" th:object="${countryDto}">
                <table class="table table-bordered">
                    <input type="number" th:field="*{id}" style="display: none">
                    <input type="text" th:name="edit" th:value="${edit}" style="display: none">
                    <tr>
                        <td>Kontynent (region)</td>
                        <td><input class="form-control" type="text" th:field="*{continent}" placeholder="Kontynent (region)">
                            <span th:if="${#fields.hasErrors('continent')}" th:errors="*{continent}" style="color: red"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Państwo po angielsku</td>
                        <td><input class="form-control" type="text" th:field="*{countryEn}" placeholder="Nazwa po angielsku">
                            <span  th:if="${#fields.hasErrors('countryEn')}" th:errors="*{countryEn}" style="color: red">></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Państwo po polsku</td>
                        <td><input class="form-control" type="text" th:field="*{countryPl}" placeholder="Nazwa po polsku">
                            <span  th:if="${#fields.hasErrors('countryPl')}" th:errors="*{countryPl}" style="color: red">></span>
                        </td>

                    </tr>
                    <tr>
                        <td>Stolica</td>
                        <td><input class="form-control" type="text" th:field="*{capitalCity}" placeholder="Stolica">
                            <span  th:if="${#fields.hasErrors('capitalCity')}" th:errors="*{capitalCity}" style="color: red">></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Alfa 2</td>
                        <td><input class="form-control" type="text" th:field="*{alfa2}" placeholder="Alfa 2">
                            <span  th:if="${#fields.hasErrors('alfa2')}" th:errors="*{alfa2}" style="color: red">></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Alfa 3</td>
                        <td><input class="form-control" type="text" th:field="*{alfa3}" placeholder="Alfa 3">
                            <span  th:if="${#fields.hasErrors('alfa3')}" th:errors="*{alfa3}" style="color: red">></span>
                        </td>
                    </tr>
                    <tr>
                        <td>kod numeryczny</td>
                        <td><input class="form-control" type="text" th:field="*{numericCode}" placeholder="Kod lczbowy">
                            <span  th:if="${#fields.hasErrors('numericCode')}" th:errors="*{numericCode}" style="color: red">></span>
                        </td>
                    </tr>
                    <tr>
                        <td>kod iso</td>
                        <td><input class="form-control" type="text" th:field="*{isoCode}" placeholder="kod ISO">
                            <span  th:if="${#fields.hasErrors('isoCode')}" th:errors="*{isoCode}" style="color: red">></span>
                        </td>
                    </tr>
                </table>
                <p class=""><input class="btn btn-primary pull-right pull-center"  type="submit" th:value="${buton}"></p>
                <br><br>
            </form>

        </div>
        <div class="container col-xs-12">
            <table class="table table-bordered table table-striped">
                <tr>
                    <th>Id</th>
                    <th>kontynent</th>
                    <th class="col-xs-1">Flaga</th>
                    <th>Państwo po Angielsku</th>
                    <th>Państwo po Polsku</th>
                    <th class="col-md-1">Stolica</th>
                    <th>Alfa 2</th>
                    <th>Alfa 3</th>
                    <th>Kod liczbowy</th>
                    <th class="col-md-1">Kod ISO</th>
                    <th>Edytuj</th>
                    <!--<th>Dodaj/Edytuj walute</th>-->
                </tr>
                <th:block th:each="country : ${countryList}">
                <tr>
                    <td th:text="${country.id}"></td>
                    <td th:text="${country.continent}"></td>
                    <td class="col-xs-1"><img class="flagInTable" th:src="'images/flags/'+${country.countryEn}+'.png'"></td>
                    <td th:text="${country.countryEn}"></td>
                    <td th:text="${country.countryPl}"></td>
                    <td th:text="${country.capitalCity}"></td>
                    <td th:text="${country.alfa2}"></td>
                    <td th:text="${country.alfa3}"></td>
                    <td th:text="${country.numericCode}"></td>
                    <td th:text="${country.isoCode}"></td>
                    <td><a th:href="@{'/country/'+${country.countryEn}}">Edytuj</a></td>
                    <!--<td><a th:href="@{'/currency/'+${country.countryEn}}">Dodaj/Edytuj walute</a></td>-->
                </tr>
                </th:block>
            </table>
        </div>
    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</body>
</html>