<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pecunia</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body>
<div class="container">

    <div th:insert="~{includes/menu :: heder}"></div>
    <div th:insert="~{includes/menu :: menu}"></div>

    <div class="loading-container" style="text-align: center">
        <h3 class="bg-info">Strona główna, będzie krótki opis, tabela kursów walut...</h3>
    </div>
    <div class="loading-container" >
        <p><img name="inde" class="imageNote" th:src="#{notePath} + 'Argentyna/Argentina_1_Peso_11a.jpg'" style="width: 30%; height: 30%">
        <img name="inde" class="imageNote" src="https://ch3301files.storage.live.com/y4mOUC9BAlZV6fnPRQyEAXHR-Fdzcye6t9_Qqwe2rp92xhmy4AAK9L_hyb0O_NzgDWcNAZCvTpKDh3REGPVZypp8oYCuNqcQr-tmEZ4-Py-zpzLkJVdSUd7zfQzgWiJleNglZK-hrat2TnDI5b7NYKQ7hNspw2x4Zo_Zc2Bbr5AafbpJpkBqX-rhnujpKFSRaafsxIyB_9wsdVyOAYWi38W7A/Albania_200_Leke_102a_1994.jpg?psid=1&width=1680&height=794" style="width: 30%; height: 30%"></p>
<!--        <p><img name="inde" class="imageNote" src="https://onedrive.live.com/?authkey=%21ADDknZdWPhI%2DtyM&cid=9850950BCB7B914D&id=9850950BCB7B914D%2195446&parId=9850950BCB7B914D%2194779&o=OneUp" style="width: 30%; height: 30%"></p>-->
    </div>

    <div th:if="${exchange} == true" class="container col-xs-5 col-md-offset-3" style="text-align: center">
        <span th:text="'Tablela ' + ${exchangeRate.table}"></span>
        <br>
        <span th:text="'nr: ' + ${exchangeRate.no}"> </span>
        <br>
        <span th:text="'Data: ' + ${exchangeRate.effectiveDate}"> </span>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>waluta</th>
                <th>kod</th>
                <th>kurs średni</th>
            </tr>
            </thead>
            <block th:each="rate : ${exchangeRate.rates}">
                <tr class="bg-primary">
                    <td th:text="${rate.currency}"></td>
                    <td th:text="${rate.cod}"></td>
                    <!--<td th:text="${rate.mid} + 'zł'"></td>-->
                    <td th:text="${#numbers.formatDecimal(rate.mid,1,4)} + 'zł'"></td>
                </tr>

            </block>
        </table>

    </div>

    <div th:if="${exchange} != true" class="loading-container" style="text-align: center">
        <h2 th:text="${error}"></h2>
        <img src="/images/error404.png" alt="ERROR 404">
    </div>
</div>
<div th:insert="~{includes/menu :: footer}"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>