<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banknoty</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body>
<div class="container">

    <div th:insert="~{includes/menu :: heder}"></div>
    <div th:insert="~{includes/menu :: menu}"></div>

        <div class="container row">
            <div class="container col-md-6">
                <h4>
                    <span><b>Kontynent: </b></span>
                    <span th:text="${countryCurrency.continent}"></span>
                </h4>
                <h4>
                    <span><b>Państwo: </b></span>
                    <span th:text="${countryCurrency.countryEn}"></span>
                </h4>
                <h4>
                    <span><b>Kod: </b></span>
                    <span th:text="${countryCurrency.cod}"></span>
                </h4>
                <h4>
                    <span><b>Waluta: </b></span>
                    <span th:text="${countryCurrency.currency}"></span>
                </h4>
            </div>
            <div class="container col-md-6">
                <br>
                <p><img class="flag" th:src="#{flagPath} + ${countryCurrency.countryEn}+'.png'"></p>
            </div>
        </div>
    <div class="loading-container" style="text-align: center">
        <h3 th:text="${save}" th:class="${statusSave} ? bg-success : bg-danger"></h3>
    </div>
        <div>
            <form  th:action="@{/addNote}" method="post" th:object="${noteDto}">
                <table class="table table-bordered">
                    <input type="number" th:name="currencyId" th:value="${currencyId}" style="display: none">
                    <input type="number" th:field="*{id}" style="display: none">
                    <tr>
                        <td style="width: 30% ">Data zakupu banknotu</td>
                        <td><input class="form-control" type="text" th:field="*{dateBuyNote}" placeholder="yyyy-mm-dd">
                            <span th:text="${data_erorr}" style="color: red"></span></td>
                    </tr>
                    <tr>
                        <td>Gdzie banknot został kupiony</td>
                        <td><input class="form-control" type="text" th:field="*{bought}" placeholder="Miejsce zakupu banknotu"></td>
                    </tr>
                    <tr>
                        <td>Nominał</td>
                        <td><input class="form-control" type="text" th:field="*{denomination}" placeholder="Nominał banknotu"></td>
                    </tr>
                    <tr>
                        <td>Nazwa</td>
                        <td><input class="form-control" type="text" th:field="*{nameCurrency}" placeholder="Nazwa"></td>
                    </tr>
                    <tr>
                        <td>Seria</td>
                        <td><input class="form-control" type="text" th:field="*{series}" placeholder="Seria"></td>
                    </tr>
                    <tr>
                        <td>Data druku</td>
                        <td><input class="form-control" type="text" th:field="*{noteDate}" placeholder="Data druku banknotu"></td>
                    </tr>
                    <tr>
                        <td>Materiał</td>
                        <td><input class="form-control" type="text" th:field="*{making}" placeholder="Materiał"></td>
                    </tr>
                    <tr>
                        <td>Sygnatura</td>
                        <td><input class="form-control" type="number" th:field="*{signatureCode}" placeholder=" Sygnatura 101/102..."></td>
                    </tr>
                    <tr>
                        <td>Cena zakupu</td>
                        <td><input class="form-control" type="text" th:field="*{priceBuy}" placeholder="Cena zakupu"></td>
                    </tr>
                    <tr>
                        <td>Cena sprzedaży</td>
                        <td><input class="form-control" type="text" th:field="*{priceSell}" placeholder="Cena sprzedaży"></td>
                    </tr>
                    <tr>
                        <td>Iloc sztuk</td>
                        <td><input class="form-control" type="number" th:field="*{quantity}" placeholder="Ilość sztuk"></td>
                    </tr>
                    <tr>
                        <td>Stan banknotu</td>
                        <td><input class="form-control" type="text" th:field="*{quality}" placeholder="Stan banknotu"></td>
                    </tr>
                    <tr>
                        <td>Kolekja/Sprzedaż</td>
                        <td><input class="form-control" type="text" th:field="*{status}" placeholder="K/S"></td>
                    </tr>
                    <tr>
                        <td>W sprzedaży</td>
                        <td><input class="form-control" type="text" th:field="*{statusSell}" placeholder="OLX, allegro, ..."></td>
                    </tr>
                    <tr>
                        <td>Opisu</td>
                        <td><textarea class="form-control" th:field="*{description}" placeholder="Opis"></textarea></td>
                    </tr>
                    <tr>
                        <td>Typ obrazka</td>
                        <td><input class="form-control" type="text" th:field="*{imgType}" placeholder="skan/foto/www/LOC"></td>
                    </tr>
                    <tr>
                        <td>Avers</td>
                        <td><input class="form-control" type="text" th:field="*{aversPath}" placeholder="avers banknotu"></td>
                    </tr>
                    <tr>
                        <td>Revers</td>
                        <td><input class="form-control" type="text" th:field="*{reversePath}" placeholder="revers banknotu"></td>
                    </tr>
                </table>
                <input class="btn btn-primary" type="submit" th:value="${button}">
            </form>
        </div>
        <div style="font-size: 12px">

                <center><h2 th:text="'Banknoty: ' + ${countryCurrency.countryEn}"></h2></center>


            <table class="table table-bordered">
                <tr>
                    <th>Nominał</th>
                    <th>Nazwa</th>
                    <th>Seria</th>
                    <th>Syg</th>
                    <th>Materiał</th>
                    <th>Stan</th>
                    <th>Kupno</th>
                    <th>Sprzedaż</th>
                    <th>Sztuki</th>
                    <th>Status</th>
                    <th style="width: 95px">Avers</th>
                    <th style="width: 95px">Reverse</th>
                    <th>Edycja</th>
                </tr>
                <th:block th:each=" note : ${currencyNoteList}">
                    <tr  th:if="${note.noteId} == ${noteDto.id}" style="background-color: aqua">
                        <div th:if="${note.denomination} >= 1">
                            <td th:text="${#numbers.formatDecimal(note.denomination,1,0)}"></td>
<!--                            <td th:text="${note.denomination}"></td>-->
                        </div>
                        <div th:if="${note.denomination} < 1">
                            <td th:text="${note.denomination}"></td>
                        </div>
                        <td th:text="${note.nameCurrency}"></td>
                        <td th:text="${note.series}"></td>
                        <td th:text="${note.signatureCode}"></td>
                        <td th:text="${note.making}"></td>
                        <td th:text="${note.quality}"></td>
                        <td th:text="${#numbers.formatDecimal(note.priceBuy,1,2)} + 'zł'"></td>
                        <td th:text="${#numbers.formatDecimal(note.priceSell,1,2)} + 'zł'"></td>
                        <td th:text="${note.quantity}"></td>
                        <td >
                            <span th:text="${note.status}"></span>
                            <br>
                            <span th:text="${note.statusSell}"></span>
                        </td>
                        <td>
                            <a target="_blank" th:href="#{notePath} + ${note.aversPath}">
                                <img class="imageNote" th:src="#{notePath} + ${note.aversPath}">
                            </a>
                        </td>
                        <td>
                            <a target="_blank" th:href="#{notePath} + ${note.reversePath}">
                                <img class="imageNote" th:src="#{notePath} + ${note.reversePath}">
                            </a>
                        </td>
                        <td style="text-align: center">
                            <a th:href="@{'/noteEdit/' + ${note.noteId}}" >
                                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
                                <br>
                                <span>Edytuj</span>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${note.noteId} != ${noteDto.id}">
                        <div th:if="${note.denomination} >= 1">
                            <td th:text="${#numbers.formatDecimal(note.denomination,1,0)}"></td>
                        </div>
                        <div th:if="${note.denomination} < 1">
                            <td th:text="${note.denomination}"></td>
                        </div>
                        <td th:text="${note.nameCurrency}"></td>
                        <td th:text="${note.series}"></td>
                        <td th:text="${note.signatureCode}"></td>
                        <td th:text="${note.making}"></td>
                        <td th:text="${note.quality}"></td>
                        <td th:text="${#numbers.formatDecimal(note.priceBuy,1,2)} + 'zł'"></td>
                        <td th:text="${#numbers.formatDecimal(note.priceSell,1,2)} + 'zł'"></td>
                        <td th:text="${note.quantity}"></td>
                        <td>
                            <span th:text="${note.status}"></span>
                            <br>
                            <span th:text="${note.statusSell}"></span>
                        </td>
                        <td >
                            <a target="_blank" th:href="#{notePath} + ${note.aversPath}">
                                <img class="imageNote" th:src="#{notePath} + ${note.aversPath}">
                            </a>
                        </td>
                        <td>
                            <a target="_blank" th:href="#{notePath} + ${note.reversePath}">
                                <img class="imageNote" th:src="#{notePath} + ${note.reversePath}">
                            </a>
                        </td>
                        <td style="text-align: center">
                            <a th:href="@{'/noteEdit/' + ${note.noteId}}" >
                                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
                                <br>
                                <span>Edytuj</span>
                            </a>
                        </td>
                    </tr>

                </th:block>
            </table>
        </div>

        <div>
            <form th:action="@{/note/showJson}" method="post">
                <input type="text" th:name="countryId" th:value="${countryCurrency.countryId}" style="display: none">
                <input class="btn btn-primary" th:target="_blank" type="submit" value="Wyświtl Json">
            </form>
        </div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>