<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elementy zamówienia</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>
<body>
<div class="container-fluid margin-footer">
    <div class="container">
        <div th:insert="~{includes/menu :: heder}"></div>
        <div th:insert="~{includes/menu :: menu}"></div>
<!--        <h2 th:text="${customer}"></h2>-->

    </div>

    <div class="container">
        <p th:text="${customerDetails.uniqueId}"></p>
        <p th:text="${customerDetails.name} + ' ' + ${customerDetails.lastname}"></p>
        <p th:text="${customerDetails.zipCode} + ' ' + ${customerDetails.city}"></p>
    </div>
    <div class="container">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Numer zamówienia</th>
                <th>Data zamówienia</th>
                <th>Wysyłka/rezerwacja</th>
                <th>Data wysyłki</th>
                <th>Actywne</th>
<!--                <th>INFO</th>-->
            </tr>
            <block th:each="order,i : ${orderList}">
                <tr>
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.orderNumber}"></td>
                    <td th:text="${order.dateOrder}"></td>
                    <td th:if="${order.shipmentType} == 'reservation'"style="color: red" th:text="${order.shipmentType}" ></td>
                    <td th:if="${order.shipmentType} != 'reservation'"style="color: black" th:text="${order.shipmentType}" ></td>
                    <td th:text="${order.dateSend}"></td>
                    <td th:text="${order.active}"></td>
<!--                    <td>DETAILS ORDER</td>-->
                </tr>
            </block>
        </table>
    </div>



    <div class="container" th:if="${order_item_add} == true">
        <form th:action="@{/order_item}" method="post">
            <p>id banknotu</p>
            <input type="number" th:name="noteId">
            <div th:if="${orderItems} != true">
                <input class="form-control" type="text" value="0" th:name="sellFinal" style="display: none">
                <input class="form-control" type="number" value="0" name="sellQuantity" style="display: none">
            </div>
            <input class="btn btn-primary" type="submit" value="Dodaj">

            <div th:if="${orderItems} == true">
                <h3>Elemeny zamówienia</h3>
                <table class="table">
                    <tr>
                        <th>Lp</th>
                        <th style="display: none">PK</th>
                        <th>Id</th>
                        <th>Państwo</th>
                        <th>Kod</th>
                        <th>Nominał</th>
                        <th>Waluta</th>
                        <th>Materiał</th>
                        <th>Kupno</th>
                        <th>Sprzedaż</th>
                        <th>Finalna Cena</th>
                        <th>ilość</th>
                        <th>suma</th>
                        <th></th>
                    </tr>
                    <block th:each="item, i : ${orderItemList}">
                        <tr>
                            <td th:text="${i.count}"></td>
                            <td th:text="${item.id}" style="display: none"></td>
                            <td th:text="${item.noteId}"></td>
                            <td th:text="${item.countryEn}"></td>
                            <td th:text="${item.cod}"></td>
                            <td th:text="${item.denomination}"></td>
                            <td th:text="${item.currencyName}"></td>
                            <td th:text="${item.making}"></td>
                            <td th:text="${#numbers.formatDecimal(item.priceBuy,1,2)} + 'zł'"></td>
                            <td th:text="${#numbers.formatDecimal(item.priceSell,1,2)} + 'zł'"></td>
                            <td>
                                <input class="form-control" type="text" th:value="${item.priceSellFinal}" name="sellFinal">
                            </td>
                            <td>
                                <input class="form-control" type="number" th:value="${item.quantity}" name="sellQuantity">
                            </td>
                            <td th:text="${#numbers.formatDecimal(item.priceSellFinal * item.quantity,1,2)} + 'zł'"></td>
                            <td>
                                <form action="/Pecunia/delete_item/">
                                    <input type="hidden" name="noteId" th:value="${item.getNoteId()}">
                                    <button class="btn btn-sm btn-danger" type="submit">delete</button>
                                </form>
                            </td>
<!--                            <td>-->
<!--                                <a th:href="@{'/delete_item/' + ${item.noteId}}">-->
<!--                                    <span>USUŃ</span>-->
<!--                                </a>-->
<!--                            </td>-->
                        </tr>
                    </block>
                    <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        <td style="text-align: right">
                            podsumowanie zamówienia
                        </td>
                        <td th:text="${#numbers.formatDecimal(totalSumOrder,1,2)} + 'zł'" style="background: aqua"></td>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        <td style="text-align: center">
                            <div th:if="${saveOrder} != true">
                                <a th:href="@{'/save_order/'}">
                                    <button type="button" class="btn btn-success">Zapisz zamówienie</button>
                                </a>
                            </div>
                        </td>
                        <td></td>
                    </tr>

                </table>
            </div>
        </form>

    </div>

    <div class="container" th:if="${orderDetails} == true">
        <table class="table">
            <tr>
                <th>Lp</th>
                <th>PK</th>
                <th>Id</th>
                <th>Państwo</th>
                <th>Kod</th>
                <th>Nominał</th>
                <th>Waluta</th>
                <th>Materiał</th>
                <th>Cena</th>
                <th>ilość</th>
                <th>suma</th>
            </tr>
            <block th:each="item, i : ${orderItemList}">
                <tr>
                    <td th:text="${i.count}"></td>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.noteId}"></td>
                    <td th:text="${item.countryEn}"></td>
                    <td th:text="${item.cod}"></td>
                    <td th:text="${item.denomination}" style="text-align: right"></td>
                    <td th:text="${item.currencyName}"></td>
                    <td th:text="${item.making}"></td>
                    <td th:text="${#numbers.formatDecimal(item.priceSellFinal,1,2)} + 'zł'" style="text-align: right"></td>
                    <td th:text="${item.quantity} + ' szt'"></td>
                    <td th:text="${#numbers.formatDecimal(item.priceSellFinal * item.quantity,1,2)} + 'zł'"></td>
                </tr>
            </block>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td style="text-align: right">
                    TOTAL
                </td>
                <td th:text="${#numbers.formatDecimal(totalSumOrder,1,2)} + 'zł'" style="background: aqua"></td>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td style="text-align: center">
                    <div th:if="${saveOrder} != true">
                        <a th:href="@{'/save_order/'}">
                            <button type="button" class="btn btn-success">Zapisz zamówienie</button>
                        </a>
                    </div>
                </td>
                <td></td>
            </tr>

        </table>
    </div>

</div>
<div th:insert="~{includes/menu :: footer}"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</body>
</html>