<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MENU</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body>

<div th:fragment="menu">
    <div>

        <ul class="nav nav-pills" style="background-color: azure">
            <li role="presentation" class="active"><a href="/Pecunia">Home</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Państwo <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="/Pecunia/country">Dodaj państwo</a></li>
                    <li role="presentation"><a href="/Pecunia/all_countrys">Państwa świata</a></li>
                    <li role="presentation"><a href="/Pecunia/currency">Dodaj wlutę</a></li>
                    <li role="separator" class="divider"></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Banknoty <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="/Pecunia/selectCountry">Dodaj banknot</a></li>
                    <li role="presentation"><a href="/Pecunia/showNotes">Banknoty w kolekcji(LISTA)</a></li>
                    <li role="presentation"><a href="/Pecunia/continent">Kontynent</a></li>
                    <li role="presentation"><a href="/Pecunia/select_continent">Banknoty w kolekcji (Kontynenty)</a></li>
                    <li role="presentation"><a href="/Pecunia/select_country">Banknoty w kolekcji (Państwa)</a></li>
                    <li role="separator" class="divider"></li>
                    <li role="presentation"><a href="/Pecunia/for_sell">Banknoty na sprzedaż</a></li>
                    <li role="presentation"><a href="/Pecunia/all_note_for_sell">All for sell</a></li>
                    <li role="presentation"><a href="/Pecunia/exposed">Banknoty w sprzedaży(ALL)</a></li>
                    <li role="presentation"><a href="/Pecunia/exposed_country">Banknoty w sprzedaży(COUNTRY)</a></li>
                    <li role="separator" class="divider"></li>
                    <li role="presentation"><a href="/Pecunia/sold">Sprzedane</a></li>
                    <li role="separator" class="divider"></li>
                    <li role="presentation"><a href="/Pecunia/new_note">Nowe banknoty</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Monety <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
<!--                    <li role="presentation"><a href="/Pecunia/selectCountry">Dodaj monete</a></li>-->
                    <li role="presentation"><a href="/#">Dodaj monete</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Klienci <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="/Pecunia/customer">Nowy klient</a></li>
                    <li role="separator" class="divider"></li>
                    <li role="presentation"><a href="/Pecunia/customerList">Lista klientów</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="/Pecunia/quality">Stan Banknotów</a></li>
            <!--<li role="presentation"><a href="/Pecunia/bootstraptest">BOOTSTRAP</a></li>-->
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Bootstrap <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="/Pecunia/bootstraptest">Test 1</a></li>
                    <li role="separator" class="divider"></li>
                    <li role="presentation"><a href="/Pecunia/bootstraptest2">Test 2</a></li>
                    <li role="presentation"><a href="/Pecunia/bootstraptest3">Test 3</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="/swagger-ui.html">Swagger</a></li>
            <li role="presentation"><a href="/Pecunia/cod_currency">COD CURRENCY</a></li>
        </ul>
    </div>
</div>

<div th:fragment="heder">
    <div class="container row" >
        <div class="page-header col-md-2">
            <p><img class="img-responsive img-circle center-block nested-img" th:src="#{logoPath} + 'logo.png'" style="width: 50%; height: 50%"></p>
        </div>
        <div class="page-header col-md-8" style="text-align: center">
            <h1>PECUNIA <small>BANKNOTES OF WORLD</small></h1>
        </div>
        <div class="page-header col-md-2">
            <p><img class="img-responsive img-circle center-block" th:src="#{logoPath} + 'logo.png'" style="width: 50%; height: 50%"></p>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="panel-footer stopka" th:fragment="footer">STOPKA TEST PECUNIA 2019</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>